* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 300px 3fr 1fr;
  grid-template-areas: "nav . menu . .";
}

#menu {
  margin-top: 60px;
  grid-area: menu;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

header {
  height: 12vh;
  background-color: cadetblue;
}

.header h1 {
  font-size: 22px;
  font-family: montserrat;
  font-weight: bold;
  margin-top: 14px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

i {
  margin-right: 100px;
  margin-top: 10px;
  cursor: pointer;
}

#menu h3 {
  margin-top: 20px;
}
.menuitem {
  margin-top: 10px;
  padding: 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 20px;
}

.menuitem:hover {
  background-color: burlywood;
}

.btn {
  width: 100px;
  padding: 5px;
  margin: 20px;
}

input {
  margin: 10px;
  padding: 5px 40px;
}

form label {
  text-align: center;
}

.results li {
  text-align: center;
  padding-top: 20px;
  justify-items: center;
  font-family: montserrat;
}

.results p {
  text-align: center;
  padding-top: 20px;
  justify-items: center;
}
.leave {
  cursor: pointer;
  width: 100%;
  text-align: center;
  justify-items: center;
}

.leave:hover {
  color: burlywood;
}

.emp-leave {
  cursor: pointer;
}
.emp-leave:hover {
  color: burlywood;
}

#leave-view {
  grid-area: menu;
}

#menu button {
  margin: 20px;
}
h3 {
  font-family: montserrat;
  font-size: 15px;
}
select {
  margin: 30px 0;
}

.errorDetected {
  border: 2px solid red;
}

.nav {
  grid-area: nav;
  position: fixed;
  width: 200px;
  height: 100vh;
  background: #cccccc;
  padding: 30px 0;
}

.nav h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: montserrat;
  margin-bottom: 30px;
}

.nav ul li {
  padding: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.nav ul li:hover {
  background: burlywood;
}

.nav ul li a {
  display: block;
}
