html,
* {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

main {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  grid-template-areas: ". menu .";
}

#menu {
  grid-area: menu;
  text-align: center;
}

.menuitem {
  padding: 30px 20px;
  border: 1px solid black;
  cursor: pointer;
}

.menuitem:hover {
  background-color: #98c0df;
}

#create-acc-menu {
  grid-area: menu;
  text-align: center;
}

#apply-menu {
  grid-area: menu;
}

.btn {
  width: 100px;
  padding: 5px;
  margin: 20px;
}

input {
  margin: 20px;
  padding: 10px;
}
